# URL of the GreytHR portal
GREYTHR_URL="https://chisquarelabs.greythr.com/"

# Username for GreytHR
GREYTHR_USERNAME="your_username_here"

# Password for GreytHR
# Run `npx dotenvx encrypt` to encrypt this file after filling it in.
GREYTHR_PASSWORD="your_password_here"
